.aboutPage-content-wrapper{
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.about-me{
  width: 100%;
  max-width: 45em;
}
.about-me h1{
  text-transform: capitalize;
  font-size: 2rem;
  color: #fff;
}
.about-me p{
  margin-bottom: 0.5em;
  color: #fff;
  font-size: 1.3rem;
}
.skill-box{
  width: 100%;
  margin-top: 1.2em;
}
.skill-box h3{
  text-transform: capitalize;
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 0.7em;
}
.list{
  margin-left: 1em;
  display: flex;
  align-items: flex-start;
  gap: 6em;
}
.list ul li{
  color: #fff;
  font-size: 1.3rem;
}

@media screen and (max-width:1000px) {
  .aboutPage-content-wrapper{
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}
.about-me h1{
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 0.5em;
}
}

@media screen and (max-width: 650px) {
  .aboutPage-content-wrapper{
    padding: 0 1em;
  }
  .about-image-box{
    width: 100%;
    max-width: 30em;
    margin-bottom: 0.5em;
  }
  .about-image{
    width: 100%;
  }
  .skill-box h3{
  font-size: 1.2rem;
}
.list{
  gap: 0em;
}
.list ul:last-child{
  margin-left: 5em;
}
  .about-resume{
    margin-bottom: 1em;
  }
}