.header-component-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  margin-bottom: 1.5em;
}
.header-title {
  width: 100%;
  max-width: 40em;
}
.header-title h1 {
  color: #fff;
  font-size: 2.5rem;
  text-transform: capitalize;
  font-weight: 1000;
}
.header-title p {
  color: rgb(206, 216, 245);
  font-size: 2rem;
  font-weight: 500;
}
.my-image-box {
  width: 100%;
  max-width: 30em;
}
.my-image {
  width: 100%;
  display: block;
}
.resume {
  padding: 0.8em 1em;
  background-color: #f6b93a;
  color: black;
  font-weight: bold;
  display: block;
  width: 100%;
  max-width: 12em;
  margin-top: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10em;
  text-transform: capitalize;
  transition: all 0.5s ease-in;
}
.resume:hover{
  background: #f0a708;
}

@media screen and (max-width: 1000px) {
  .header-component-wrapper {
    gap: 0;
  }
  .header-title {
    padding-left: 1em;
  }
  .header-title h1 {
    font-size: 1.5rem;
  }
  .header-title p {
    font-size: 1.2rem;
  }
  .my-image-box {
    max-width: 18em;
  }
}
@media screen and (max-width: 650px) {
  .header-component-wrapper {
    flex-direction: column-reverse;
  }
  .header-title {
    padding: 0 1em;
    text-align: center;
  }
  .my-image-box{
    margin-bottom: 1em;
  }
  .resume{
    margin: 0 auto;
    margin-top: 1.5em;
  }
}
