.mobile-navbar-wrapper{
  width: 100%;
  margin-bottom: 1em;
  display: none;
  position: relative;
}

@media screen and (max-width:850px) {
  .mobile-navbar-wrapper{
    display: block;
  }
  .mobile-nav-center{
    width: 100%;
    transition: all 1s ease-in;
  }
  .mobile-nav-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .handbugger-icon{
    width: 3em;
    height: 3em;
    text-align: center;
    position: relative;
  }
  .bar{
    color: #cadafc;
    font-size: 2.5rem;
    transition: all 1s ease-in-out;
    position: absolute;
    right: 8px;
  }
  .remove-icon{
    opacity: 0;
  }
  .mobile-link-container{
    background-color: #3d959f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    position: absolute;
    left: 0;
    right: 0;
  }
  .show-link{
    height: 18em;
  }
  .mobile-link-container a{
    color: white;
    font-size: 1.2rem;
    text-transform: capitalize;
    margin: 1em 0;
    transition: all 1s ease-in-out;
  }
  .mobile-rule{
    border: 0.5px #17347a solid;
    color: #17347a;
    width: 100%;
    max-width: 5em;
    opacity: 0.5;
  }
}
@media screen and (max-width:650px) {
  .mobile-navbar-wrapper{
    padding: 1em;
    padding-bottom: 0;
  }
}