.navBar-wrapper {
  width: 100%;
  margin-bottom: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.other-links {
  width: 100%;
  max-width: 40em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4em;
}
.other-links a {
  font-size: 1.3rem;
  text-transform: capitalize;
  color: #fff;
  font-weight: bold;
  overflow-x: hidden;
}
.link-line {
  border: 1px #f0a708 solid;
  background-color: #f0a708;
  width: 100%;
  transform: translateX(-110%);
  transition: all 0.5s ease-in-out;
}
.other-links a:hover .link-line {
  transform: translateX(0);
}
.active {
  transform: translateX(0);
}
.social-media {
  width: 100%;
  max-width: 15em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social-icon {
  color: #cadafc;
  font-size: 2rem;
  transition: all 1s ease-in-out;
}
.social-icon:hover {
  color: #fff;
}

@media screen and (max-width: 1200px) {
  .other-links {
    gap: 2em;
  }
  .other-links a {
    font-size: 1.2rem;
  }
  .social-media {
    max-width: 10em;
  }
  .social-icon {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 850px) {
  .navBar-wrapper {
  display: none;
}
}
