* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* a {
  text-decoration: none;
  color: black;
}

body {
  width: 100%;
  padding: 3em;
  padding-bottom: 0;
  background-color: #cadafc;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  width: 100%;
  padding: 2em;
  border-radius: 0.5em;
  background: linear-gradient(to top right, #2062b8, #1548b5,#3d959f, #17347a );
  overflow: hidden;
}
@media screen and (max-width: 1000px) {
  body {
    padding: 1.5em;
  }
}
@media screen and (max-width: 650px) {
  body {
    padding: 1em;
  }
  .wrapper {
    padding: 0;
  }
}
